:root {
  --dark: #999999;
  --light-gray: #B9B7BD;
  --light-pink: #E7D2CC;
  --light: #F5FFFA;
  --darkest: #404040;
}

* {
  background-color: var(--light);
}

h1 {
  color: var(--darkest);
}

a {
  color: var(--dark);
}